.footer {
  background: #464547;
  padding-left: 153px;
  padding-top: 37px;
  padding-right: 148px;
  padding-bottom: 90px;
  display: flex;
}

.footer-container {
  display: flex;
}

.footer-logo {
  display: flex;
  gap: 16px;
  margin-bottom: 12px;
  height: 20px;
  margin-right: 79px;
}

.footer-logo-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ffffff;
}

.adress-rights {
  display: flex;
  width: 683px;
  justify-content: space-between;
}

.adress {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.4);
}

.email {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.4);
  margin-top: 21px;
}

.rights {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.4);
  align-self: flex-end;
}

@media (max-width: 768px) {
  .footer {
    padding: 0;
    padding-bottom: 150px;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-logo {
    margin: 0;
    margin-top: 57px;
    margin-left: -24px;
  }

  .adress-rights {
    flex-direction: column;
    width: 243px;
    text-align: center;
    margin-top: 26px;
    margin-left: -10px;
  }

  .email {
    margin-top: 12px;
  }

  .rights {
    align-self: unset;
    margin-top: 22px;
    margin-left: 13px;
  }
}
