@font-face {
  font-family: 'Source Sans Pro';
  src: url('../assets/fonts/Source_Sans_Pro/SourceSansPro-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('../assets/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Oswald';
  src: url('../assets/fonts/Oswald/static/Oswald-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Oswald';
  src: url('../assets/fonts/Oswald/static/Oswald-Regular.ttf');
  font-weight: 400;
}

.hero {
  position: relative;
  padding-bottom: 47px;
}

.hero-bg {
  width: 100%;
  height: 822px;
  background-image: url(../assets/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: -65px;
  right: 0px;
  z-index: -1;
}

.hero-stars {
  position: absolute;
  object-fit: cover;
  object-position: left top;
  width: 100%;
  height: 822px;
  transform-origin: right center;
  animation: stars 2s ease infinite alternate;
}

.hero-shine {
  position: absolute;
  object-fit: cover;
  object-position: left top;
  width: 100%;
  height: 822px;
  animation: shine 2s ease infinite alternate;
  animation-delay: 1s;
}

@keyframes shine {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes stars {
  0% {
    scale: 1;
  }
  100% {
    scale: 1.05;
  }
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.logo {
  margin-top: 209px;
  transition: transform 0.6s, visibility ease-in-out;
}

.hero-container .logo:hover {
  transform: rotateY(0.5turn) scale(1.3);
}

.hero-title {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #ffffff;
  margin-top: 14px;
}

.hero-subtitle {
  font-family: 'Source Sans Pro';
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 32px;
  margin-bottom: 200px;
}

.main {
  padding-bottom: 98px;
  background-color: #eeeeee;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-title {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #464547;
  margin-top: 66px;
}

.main-title-p2 {
  margin-bottom: 32px;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #464547;
}

.main-subtitle {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #666666;
}

.main-texts {
  display: flex;
  width: 907px;
  height: 172px;
  margin-top: 37px;
  gap: 76px;
}

.main-text {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: start;
  color: #666666;
  max-width: 416px;
}

.read-more-btn {
  width: 115px;
  height: 36px;
  background: #55c2d8;
  border-radius: 18px;
  font-family: 'Oswald';
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.1em;
  text-align: center;
  color: #ffffff;
  border: none;
  margin-top: 47px;
  transition: transform 0.5s, visibility 0.5s ease-in-out;
  transform-origin: left;
}

.read-more-btn:hover {
  transform: rotate(10deg);
}

.learn-more {
  background-image: url(../assets/bg-second.png);
  background-repeat: no-repeat;
  background-position: center -14px;
  background-size: cover;
  height: 637px;
  position: relative;
}

.learn-more-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.learn-more::before {
  background-color: rgba(140, 79, 42, 0.3);
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.learn-more-title {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #ffffff;
  margin-top: 80px;
  letter-spacing: -1px;
  width: 432px;
  margin-left: 6px;
}

.play-btn {
  width: 145px;
  height: 145px;
  background: #39c2d7;
  border-radius: 80px;
  font-size: 57px;
  color: #ffffff;
  border: none;
  margin-top: 44px;
  margin-left: 10px;
  transition: transform 0.5s, visibility 0.5s ease-in-out;
}
.play-btn span {
  margin-left: 12px;
}

.play-btn:hover {
  background: #ffffff;
  color: #39c2d7;
  transform: scale(1.1);
}

.learn-more-subtitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #ffffff;
  width: 351px;
  margin-top: 55px;
  margin-left: -8px;
}

@media (max-width: 768px) {
  .hero {
    padding-bottom: 35px;
  }

  .hero-bg {
    background-position: right;
  }

  .hero-shine {
    object-position: right top;
    animation: shine 2.1s ease infinite alternate;
  }

  .hero-stars {
    object-position: right top;
    animation: stars 2.1s ease infinite alternate;
  }

  .logo {
    margin-top: 199px;
  }

  .hero-title {
    margin-top: 21px;
  }

  .main {
    padding-bottom: 87px;
  }

  .main-title {
    letter-spacing: -1px;
    margin-top: 65px;
  }

  .main-title-p2 {
    width: 333px;
  }

  .main-subtitle {
    margin-top: 15px;
    margin-left: 25px;
  }

  .main-texts {
    flex-direction: column;
    padding-left: 10px;
    width: 445px;
    height: 183px;
    margin-top: 44px;
    gap: 31px;
  }

  .main-text {
    max-width: 434px;
  }

  .read-more-btn {
    margin-top: 178px;
    margin-bottom: 30px;
  }

  .learn-more {
    background-position: center 0px;
  }

  .learn-more-title {
    margin-top: 71px;
    margin-left: 26px;
    letter-spacing: -1px;
  }

  .play-btn {
    width: 100px;
    height: 100px;
    margin-top: 80px;
    font-size: 40px;
  }

  .play-btn span {
    margin-left: 6px;
  }

  .learn-more-subtitle {
    width: 396.32px;
    margin-top: 83px;
  }
}
